.add-title {
  padding: 10px;
}

.btn-submit {
  margin-right: 10px;
  width: 150px !important;
  height: 40px;
}
.routerlink {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #fff;
}

.require-column {
  color: red;
}
.add-input {
  width: 436px !important;
}

.from-wrap {
  position: relative;
  height: 90%;
}

.submit-wrap {
  position: absolute;
  bottom: 0;
}
.add-select {
  width: 436px !important;
}
